/* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */
:root {
    --transition-time: .5s;
}
body {
    font-family: 'Noto Sans TC', sans-serif; 
    margin: 0 auto;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
}
.panel1 {
    background-image: url('img/newyear.jpg');
}
.panel2 {
    background-image: url('img/shiao.jpg');
}
.panel3 {
    background-image: url('img/1.jpg');
}
.panel4 {
    background-image: url('img/rice.jpg');
}
.panel5 {
    background-image: url('img/moon.jpg');
}
.panel {
    flex: 1;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:
        font-size .7s cubic-bezier(0.075, 0.82, 0.165, 1),
        flex var(--transition-time) cubic-bezier(0.41, 1.11, 0.33, 1.05);

}

.panel > p {
    margin: 0;
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    transition:
        transform var(--transition-time);
}
.panel p:nth-of-type(2) {
    font-size: 2.5em;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.panel > p:first-child { 
    transform: translateY(-100%);
}
.panel > p:last-child {
    transform: translateY(100%);
}

/* my way using only css */

/* .panel:hover {
    flex: 4;
    transition-duration: var(--transition-time);
    -moz-transition-duration: var(--transition-time);
    -o-transition-duration: var(--transition-time);
    -webkit-transition-duration: var(--transition-time);
}
.panel:hover p:first-child, .panel:hover p:last-child {
    transform: translateY(0);
    transition-duration: var(--transition-time);
    -moz-transition-duration: var(--transition-time);
    -o-transition-duration: var(--transition-time);
    -webkit-transition-duration: var(--transition-time);
}
.panel:hover p:nth-of-type(2) {
    font-size: 4em;
    transition-duration: var(--transition-time);
    -moz-transition-duration: var(--transition-time);
    -o-transition-duration: var(--transition-time);
    -webkit-transition-duration: var(--transition-time);
    
} */



/* js30 way */
.panel.open-active > *:first-child{ transform: translateY(0); }
.panel.open-active > *:last-child{ transform: translateY(0); }
.panel.open {
    flex:5;
    transition-duration: var(--transition-time);
    -moz-transition-duration: var(--transition-time);
    -o-transition-duration: var(--transition-time);
    -webkit-transition-duration: var(--transition-time);    
}
.panel.open > p:nth-of-type(2) {
    font-size: 4em;
}
