@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    font-family: 'Noto Sans TC', sans-serif; 
    margin: 0 auto;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
}
.panel1 {
    background-image: url('img/newyear.jpg');
}
.panel2 {
    background-image: url('img/shiao.jpg');
}
.panel3 {
    background-image: url('img/1.jpeg');
}
.panel4 {
    background-image: url('img/rice.jpg');
}
.panel5 {
    background-image: url('img/moon.jpg');
}
.panel {
    flex: 1;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.panel:hover {
    flex: 4;
    /* justify-content: center; */
    transition-duration: .4s;
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    -webkit-transition-duration: .4s;
}
.panel > p {
    /* border: 1px solid red; */
    margin: 0;
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}
.panel > p:first-child { 
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform: translateY(-100%);
}
.panel > p:last-child {
    transform: translateY(100%);
}
.panel:hover p:first-child {
    transform: translateY(0);
    transition-duration: .3s;
}
.panel:hover p:last-child {
    transform: translateY(0);
    transition-duration: .3s;
}
.panel:hover p:nth-of-type(2) {
    font-size: 4em;
    transition-duration: .3s;
    
}
.panel p:nth-of-type(2) {
    font-size: 2.5em;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}