@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Jua');
body {
    background-color: rgba(4, 13, 54, 0.887);
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
h1 {
    font-family: 'Jua', sans-serif;
    color: white;
}
.control-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
}
.control-item label{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5em;
    color: white;
}

.slider {
    -webkit-appearance: none;
    height: 5px;
    background: white;
    outline: none;
    opacity: .7;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ccc;;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
}
.content {
    background-color: #ff9900;
}
.content img{
    width: 100%;

}

@media screen and (max-width: 500px) {
    .control-panel {
        flex-direction: column;
    }
    
}